@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1c2127;
  color: #dadada;
  font-family: var(--font-pretendard);
}

.tmp {
  color: #dadada;
  border: #35393e;
  backgroud: #1c2127;
}
